# Python Backend
backend/venv/
backend/**/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/*.db
backend/*.sqlite3
backend/.env
backend/.env.local
backend/data/*.json


# React Frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/build/
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

#Main File 
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store